<h1>Hello {{currentUser.firstName}} {{currentUser.lastName}} !</h1>
<p>Welcome to the Gateway of <b>à La Carte </b><i> Delicacy!!</i></p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>

<h2 class="h1 text-center text-uppercase font-weight-bold mt-5 mb-3 mt-5" style="color: #4a9300;">Virtually Cook your Delicacy with unlimited
    Customization !</h2>

<!--Section description-->
<p class="text-center text-uppercase font-weight-bold" style="color: #0000db;">Think Like a Chef: A Beginner's Guide to Cooking with Confidence
    !</p>

<!--Section description-->
<p class="lead section-description mt-5 pt-2">You will learn how to identify products and determine their quality, how to
    determine the best ingredients, what cookware you should have & what staple pantry items you should use. You will
    learn some of the most important basic cooking techniques and how to do them, and the most important ways to build
    flavor. Lastly, you will learn how to use those techniques to create healthy, seasonal & flavorful dishes like
    pan-roasted chicken breast with fingerlings and kale, and a radish and grains salad with pea shoots and celery root.
</p>

<!--First row-->
<div class="row">

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\900_top-birch-tree-cakes-61700-Y7Ax.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\900_top-birch-tree-cakes-61700-Y7Ax.jpg"
                class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Customized Cakes</figcaption>
    </figure>

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\Best-Burger-5-600x900.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\Best-Burger-5-600x900.jpg"
                class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Fresh Burger</figcaption>
    </figure>

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\Ice_Cream_dessert_02.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\Ice_Cream_dessert_02.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Ice Cream Fusion</figcaption>
    </figure>

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\easiest-ever-fruit-ice-cream-ghk-1532637317.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\easiest-ever-fruit-ice-cream-ghk-1532637317.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Crunchy Cone</figcaption>
    </figure>

</div>
<!--/First row-->
<!--Second row-->
<div class="row">
    <figure class="col-md-4">
        <a href="..\..\..\img\sup16\noodles.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="1600x1067">
            <img src="..\..\..\img\sup16\noodles.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Exotic Noodles</figcaption>
    </figure>

    <figure class="col-md-4">
        <a href="..\..\..\img\sup16\sushi.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="1600x1067">
            <img src="..\..\..\img\sup16\sushi.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Tuna Sushi</figcaption>
    </figure>

    <figure class="col-md-4">
        <a href="..\..\..\img\sup16\Homemade-pizza.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="1600x1067">
            <img src="..\..\..\img\sup16\Homemade-pizza.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Pizza Italiano</figcaption>
    </figure>
</div>
<!--/Second row-->
<!--Third row-->
<div class="row">
    <figure class="col-md-3">
        <a href="..\..\..\img\sup\monster-burger-portrait-1.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\monster-burger-portrait-1.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Jumbo Burger</figcaption>
    </figure>

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\grilled-turkey-tandoori.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\grilled-turkey-tandoori.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Chelow Kabab</figcaption>
    </figure>

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\photo-1551024506-0bccd828d307.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\photo-1551024506-0bccd828d307.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Caramel Ice Cake</figcaption>
    </figure>

    <figure class="col-md-3">
        <a href="..\..\..\img\sup\photo-1551024601-bec78aea704b.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-size="781x1172">
            <img src="..\..\..\img\sup\photo-1551024601-bec78aea704b.jpg" class="img-fluid img-thumbnail">
        </a>
        <figcaption class="figure-caption bg-light text-center py-1">Choco Chips Doughnut</figcaption>
    </figure>

</div>
<!--/Third row-->

<!--
<div class="container p-0 no-gutters style="width: 750px;">
-->
        <div class="row align-items-center" style="padding-top: 120px;">
            <div class="col-12 col-lg-6 mr-auto">
                        <h1 style="color: #6e00db;"><em><u> Largest Collection of Food Templates </u></em></h1>
                        <p class="lead">From your neighborhood sushi spot to the burger and fries you crave, choose from over 300,000 local and national favorites across the World</p>
            </div>
            <div class="col-12 col-lg-6 mr-auto">
                <img src="..\..\..\img\sup16\delicious-baked-fish.jpg" width="400" height="300" alt="Multi Food">
            </div>
            
        </div> 
        <div class="row align-items-center">

        </div>  
        <div class="row align-items-center" style="padding-top: 120px;">
            <div class="col-12 col-lg-5 mr-auto">
                <img src="..\..\..\img\sup16\custom_cakes.jpg" width="300" height="300" alt="Kitchen Food">
            </div>
            <div class="col-12 col-lg-6 mr-auto">
                <h1 style="color: #6e00db;"><em><u>Don't want to cook? We’ve got options for you !</u></em></h1>
                <p class="lead">Get it delivered right to your door. Or, try Pickup on your way home. It’s mealtime on your time. You can also schedule your food delivery any Date & Time upto next 3 Days.</p>
            </div>
        </div> 
     
<!--
    </div>
-->    

